# WebStorm IDE Folder
.idea

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

npm-debug.log

/node_modules
/lib-cov

# npm run browser will generate this file. I would recommend putting this in a dist/ directory once your project grows.
# This file should not be checked into git since it should be generated. However it should be included in the npm package.
/lib/maybe.browser.js
